@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.hero-section {
  .nav-1 {
    a {
      font-family: Manrope;
      font-weight: 700;
      font-size: 13px;
      text-decoration: none;
      line-height: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
    }
  }
  .offcanvas-body {
    a {
      font-family: Manrope;
      font-weight: 700;

      text-decoration: none;
      line-height: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
    }
  }
  .head-1 {
    h6 {
      font-family: Manrope;
      font-weight: 400;
      font-size: 14px;
      color: whitesmoke;
      line-height: 100%;
      letter-spacing: 10px;
      text-transform: uppercase;
    }
    h1 {
      font-family: Manrope;
      font-weight: 700;
      font-size: 56px;

      line-height: 58px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: white;
      @media screen and (max-width: 767px) {
        font-size: 38px;
      }
    }
    p {
      font-family: Manrope;
      font-weight: 400;
      font-size: 15px;

      line-height: 25px;
      letter-spacing: 0px;
      color: white;
      width: 349px;
      height: 75px;
      top: 183px;

      opacity: 0.75;
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
    .btn {
      background: rgba(216, 125, 74, 1);
      color: rgba(255, 255, 255, 1);
    }
    @media screen and (max-width: 992px) {
      .in-right {
        display: none;
      }
      background-image: url(./img/Bitmap-removebg-preview.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .in-left {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        padding: 2rem;
      }
      h1 {
        text-align: center;
      }
    }
  }
}
.sec-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .left {
    background: rgba(241, 241, 241, 1);
    width: 30%;
    a {
      font-family: Manrope;
      font-weight: 700;
      font-size: 13px;
      text-decoration: none;
      line-height: 100%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: black;
    }
    p {
      font-family: Manrope;
      font-weight: 700;
      font-size: 18px;

      line-height: 100%;
      letter-spacing: 1.29px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .mid {
    background: rgba(241, 241, 241, 1);
    width: 30%;
    a {
      font-family: Manrope;
      font-weight: 700;
      font-size: 13px;
      text-decoration: none;
      line-height: 100%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: black;
    }
    p {
      font-family: Manrope;
      font-weight: 700;
      font-size: 18px;

      line-height: 100%;
      letter-spacing: 1.29px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .right {
    background: rgba(241, 241, 241, 1);
    width: 30%;
    a {
      font-family: Manrope;
      font-weight: 700;
      font-size: 13px;
      text-decoration: none;
      line-height: 100%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: black;
    }
    p {
      font-family: Manrope;
      font-weight: 700;
      font-size: 18px;

      line-height: 100%;
      letter-spacing: 1.29px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
.sec-2{
    background: rgba(216, 125, 74, 1);
    display: flex;
    align-items: center;
    @media screen and (max-width:767px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.right{
    border-radius: 50%;
    border: .5px solid white;
    
    align-self: flex-end;
     width: 55%;

}
.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: start;
   
  .in-1{
    width: 261px;
      h2{
        font-family: Manrope;
font-weight: 700;
font-size: 56px;
color: white;
line-height: 58px;
letter-spacing: 2px;
text-transform: uppercase;
padding: 1rem;

    }
  }
    p{
        font-family: Manrope;
font-weight: 400;
font-size: 15px;
color: white;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
    }
    button{
        background: rgba(76, 76, 76, 1);
        color: white;
    }
}
}
